<h1 class="title">IoT Aquarium</h1>
<p>
  <i>Michael Duskanich, 28-Oct-2022</i>
</p>
<p>
  <i> You can find a german version of my exposé here: </i>
  <a routerLink="/projects/iot-aquarium/exposee"> Exposé [GER] </a>
  <br />
  <i>
    You can check out development at:
    <a target="_blank" href="https://iot-aquarium.miduskanich.com"
      >iot-aquarium.miduskanich.com</a
    ></i
  >
</p>
<h1>Motivation</h1>
<p>
  I currently own two aquariums, one 60 litre, and a 200 litre. The 60 litre
  aquarium is stocked with amano shrimp, boraras brigittae and otocinclus.
</p>
<div class="aquariums">
  <img
    class="aquariums__60L"
    src="assets/aquarium_60l.jpg"
    alt="60 litre aquarium"
  />
  <figcaption>My 60L aquarium</figcaption>
  <img
    class="aquariums__200L"
    src="assets/aquarium_200l.jpg"
    alt="200 litre aquarium"
  />
  <figcaption>My 200L aquarium</figcaption>
</div>
<p>
  Setting up an aquarium usually takes some time. Besides doing the hardscape
  (setting up rocks and wood) and planting, you will need to let the tank cycle.
  Cycling the tank over approximately 2-3 weeks allows beneficial bacteria to
  develop and mature. Beneficial bacteria is essential, as it breaks down
  ammonium (NH<sub>4</sub>) and nitrite (NO<sub>2</sub>) into nitrate
  (NO<sub>3</sub>). This is called the <em>nitrogen cycle</em>.
</p>
<p>
  And even during the two weeks setup time I already experienced some issues.
  One of which was a heater which had a faulty seal and was heating permanently.
  Luckily, I noticed that before adding livestock.
</p>
<p>
  Besides heater failure, I found myself constantly measuring and worrying about
  water parameters, like pH, KH, GH,
  NO<sub>2</sub>,NO<sub>3</sub>,NH<sub>4</sub>, Fe, Cu, temperature, water flow,
  macro- and micro nutrients to name a few. Not having the experienced eye of a
  professional, who can perfectly balance a tank without measuring anything, it
  was difficult to stay patient and just let it happen.
</p>
<p>
  This motivated me to build an IoT solution, that warns me in case of component
  failure, measures (a few, not all) parameters and pretties them up for display
  on a webserver. I am working together with Christian Moser, who will provide
  the embedded system.
</p>
<h1>Functionality</h1>
Requirements engineering is performed in AzureDevOps, here is a list of all
planned requirements for the first prototype.

<ul class="requirements">
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Temperature Sensing
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: NTC sensing
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Temp Sensor User wants
    measurements via an NTC sensor <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: PT100/1000 sensing
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Temp Sensor User wants
    measurements via Platinum sensor <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Temperature Sensor Software
    <sup><i>IoT Aquarium\Embedded\Software</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Temp Sensor User wants
    software to post-process measured values
    <sup><i>IoT Aquarium\Embedded\Software</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Temp Sensor User wants
    software to calibrate and correct raw measured values
    <sup><i>IoT Aquarium\Embedded\Software</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Master Controller
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: MCU design
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Embedded User wants a main
    CPU module <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: PC API
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Embedded PC User wants a
    Serial API to configure and read all available parameters
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: User wants to have PC that
    publishes and subscribes to MQTT server values
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Generic control loops
    <sup><i>IoT Aquarium\Embedded\Software</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Controller User wants
    generic configurable control loops
    <sup><i>IoT Aquarium\Embedded\Software</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Timekeeping/distribution
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Time Service users want high
    accuracy timing <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Time Service Users want a
    deterministic distribution system <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Power Supply
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: The Embedded system wants a
    24V isolated power supply <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Safe Power Switching
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Power Measurement
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Power Switch User wants to
    measure true RMS power for each switch channel
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: All-Phase relay switch
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Power Switch User wants to
    switch all phases of each channel on/off
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Chopping Dimmer
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Power Switch User wants to
    dim each channel individually
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Power Switch software
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Power Switch User wants to
    get/set warnings for various abnormal conditions
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Light Spectrum Sensing
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Intensity sensors
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Light Sensor User wants
    light intensity sensors <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Spectrum sensors
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Light Sensor User wants
    light spectrum sensors <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Light spectrum software
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Light Sensor User wants
    light sensor software to post-process sensor values
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Flow Sensing
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Flow Sensing Hardware
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Flow Sensor User wants flow
    meter to measure with constant wavecount
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Flow Sensor User wants to
    mount sensor on pipes <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Flow sensing Software
    <sup><i>IoT Aquarium\Embedded\Software</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Flow Sensor User wants flow
    meter software to post-process flow rate values
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Flow Sensor User wants flow
    meter software to allow calibration
    <sup><i>IoT Aquarium\Embedded\Software</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: PH sensing
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: PH sensing frontend
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: PH Sensor User wants PH
    measurements to be via direct analog frontend
    <sup><i>IoT Aquarium\Embedded\Hardware</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: PH sensing/calibration
    software <sup><i>IoT Aquarium\Embedded\Software</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: PH Sensor User wants to
    calibrate PH sensor <sup><i>IoT Aquarium\Embedded\Software</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: PH Sensor User wants
    software to post-process PH measurements
    <sup><i>IoT Aquarium\Embedded\Software</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Aquarium Lighting
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Lighting module
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Lighting User wants
    single-color dimmable LED module <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Lighting User wants to
    control the LED module parameters via ModBUS
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Lighting power supply
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Lighting User wants
    dedicated power supply for LED modules
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Data Visualization
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Graph Data
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to adjust
    time scale of graphs <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to see
    Events in their graphs <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to
    manually enter graph data points <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Custom Graphs
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to CRUD
    additional graphs <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to CRUD
    title, ideal value, unit and tolerance
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Temperature GUI
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Display Temperature
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to see
    graph of temperature over time <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to set
    their temperature unit to Celsius or Kelvin
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Control Temperature
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to set
    Temperature <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Temperature Warning
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to be
    alerted if temperature is instable, or not the set target
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to be
    alerted if heater is showing unusual power consumption
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: pH GUI
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Display pH Graph
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to see graph of pH over time
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to set an ideal pH value
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: pH Warning
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to be alerted if pH is instable, or not the set target
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Lighting GUI
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Lighting Spectrum
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to see
    the current light spectrum <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Display lighting intensity
    graph <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to see
    graph of lighting intensity over time
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Lighting Control
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to set
    graph for Lighting intensity <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Lighting warning
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to be
    alerted if lighting is showing unusual power consumption
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to be
    alerted if lighting spectrum shows unexpected change
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: KH GUI
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Display KH Graph
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to see
    graph of KH over time <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: WebCam Stream
    <sup><i>IoT Aquarium\Cloud</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: WebCam Stream Display
    <sup><i>IoT Aquarium\Cloud</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to see a
    video live stream of their aquarium <sup><i>IoT Aquarium\Cloud</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to see a
    timelapse of their aquarium <sup><i>IoT Aquarium\Cloud</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Event GUI
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: CRUD Events
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to CRUD
    water changes in percent <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to CRUD
    adding / removing livestock <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to CRUD
    adding / removing plants <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to CRUD
    adding / removing hardscape <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Filter GUI
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Filter warning
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to be
    warned if filter shows unusual power consumption
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Filter control
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to turn
    on / off filter <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: TDS GUI
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: TDS Visualization
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to see
    Graph of their TDS over time <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: TDS Warning
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to be
    warned in case of unusual TDS values
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: CO2 GUI
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: CO2 Control
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to set
    timeframe for when CO2 will be injected
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: CO2 sensor
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: TDS sensor
    <sup><i>IoT Aquarium\Embedded</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: Power GUI
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Display Power consumption
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to see
    graph of power consumption over time
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Power consumption warning
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to be
    warned if power consumption is unusual
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: Power Control
    <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: Web GUI User wants to turn
    on / off power ports <sup><i>IoT Aquarium\Cloud\Web UI</i></sup>
  </li>
  <li class="requirements__epic">
    <fa-icon [icon]="faCrown"></fa-icon> Epic: MQTT Server
    <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: MQTT Subscription Endpoints
    <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    subscribe to Temperature <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    subscribe to Power consumptions <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    subscribe to TDS <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    subscribe to KH <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    subscribe to Lighting intensity <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    subscribe to Lighting spectrum <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    subscribe to pH <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    subscribe to Flow rate <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__feature">
    <fa-icon [icon]="faTrophy"></fa-icon> Feature: MQTT Publishing Endpoints
    <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    publish Temperature <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    publish Power consumptions <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    publish TDS <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    publish KH <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    publish Lighting intensity <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    publish Lighting spectrum <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    publish pH <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
  <li class="requirements__user-story">
    <fa-icon [icon]="faBook"></fa-icon> User Story: MQTT Server User wants to
    publish Flow rate <sup><i>IoT Aquarium\Cloud\API</i></sup>
  </li>
</ul>


<i>This project is still in development, check in later for new updates!</i>
