<h2>Skills</h2>
<div class="skills">
  <div class="skills__software">
    <h3>Software Development</h3>
    <mid-skill name="C#" percent="100"></mid-skill>
    <mid-skill name="ASP .NET" percent="55"></mid-skill>
    <mid-skill name="Angular (TS)" percent="75"></mid-skill>
    <mid-skill name="HTML / CSS" percent="80"></mid-skill>
    <mid-skill name="Databases" percent="60"></mid-skill>
    <mid-skill name="Unity" percent="70"></mid-skill>
    <mid-skill name="Devops" percent="40"></mid-skill>
  </div>
  <div class="skills__media">
    <h3>Media</h3>
    <mid-skill name="MS Office Suite" percent="80"></mid-skill>
    <mid-skill name="Media Production" percent="60"></mid-skill>
    <mid-skill name="3D Artistry" percent="55"></mid-skill>
    <mid-skill name="Graphic Design" percent="60"></mid-skill>
  </div>
  <div class="skills__languages">
    <h3>Languages</h3>
    <mid-skill name="German" percent="100"></mid-skill>
    <mid-skill name="English" percent="90"></mid-skill>
  </div>
</div>
