<mid-heading class="about-me__title" variant="blue-strike"
  >About Me
</mid-heading>
<div class="about-me__text">
  <p>
    I'm a software developer, currently studying Computer Science at the FH Technikum Wien. <br> I'm a generalist, a pragmatist and spontaneous. <br>I collect hobbies as a hobby.
  </p>
  <p>born 26.07.2001</p>
</div>
<div class="about-me__data">
  <p><fa-icon [icon]="faMail"></fa-icon> <a href="mailto:name@email.com">michael.duskanich@gmail.com</a></p>
  <p><fa-icon [icon]="faTel"></fa-icon> +43 677 616 29566</p>
  <p><fa-icon [icon]="faLocation"></fa-icon> Obere Donaustraße 73/16</p>
</div>
