<mid-heading class="about-me__title" variant="blue-strike"
  >About Me
</mid-heading>
<div class="about-me__text">
  <p>
    I am a software developer with a passion for game development, currently
    studying Computer Science at the FH Technikum Wien. I am the kind of
    developer that always wants to implement everything themselves. My current
    focus is Unity, C# and Angular.
  </p>
  <p>born 26.07.2001</p>
</div>
<div class="about-me__data">
  <p><fa-icon [icon]="faMail"></fa-icon> michael.duskanich@gmail.com</p>
  <p><fa-icon [icon]="faTel"></fa-icon> +43 616 29566</p>
  <p><fa-icon [icon]="faLocation"></fa-icon> Obere Donaustraße 73/16</p>
  <p><fa-icon [icon]="faGithub"></fa-icon> github.com/MichaelDusk2361</p>
</div>
