:host {
  display: block;
}

p {
  font-size: 2rem;
}
.about-me__text {
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  text-align: center;
  padding-top: 1rem;
}
.about-me__data {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  max-width: 45rem;
}
fa-icon {
  margin-right: 1rem;
}
