@import "../../assets/colors.scss";

:host(.heading--blue-strike) {
  display: block;
  .heading {
    &__text-container {
      position: relative;
      z-index: 1;
      display: block;
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }
    &__strike {
      position: relative;
      top: 2.6rem;
      width: 100%;
      height: 0.6rem;
      background-color: $color-2;
    }
    &__text {
      position: relative;

      transform: translate(-50%, -50%);
      padding: 0 1rem;
      background-color: $color-5;
      color: $color-2;
      font-size: 4rem;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
    }
  }
}
