@import "assets/colors.scss";

@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/Rubik/static/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
}

:root {
  font-size: 62.5%;
  font-family: "Rubik";
  color: $color-1;
}

* {
  box-sizing: border-box;
  scrollbar-color: $color-4;
  scrollbar-width: thin;
}

body {
  font-size: 1.6rem;
  background-color: $color-5;
  margin: 0;
  margin-bottom: 2rem;
}
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: $color-4;
}
