@import "../../assets/colors.scss";
@import "../../assets/breakpoints.scss";

:host {
  @include media("<tablet") {
    max-width: 50rem;
    margin: 0 auto;
    background-color: $color-5;
  }
  @include media(">=tablet") {
    width: 70rem;
    margin: 0 auto;
    background-color: $color-5;
  }
  @include media(">=desktop") {
    width: 120rem;
    margin: 0 auto;
    background-color: $color-5;
  }
}

section {
  padding: 1rem;
}

.skills {
  padding-top: 2rem;
}
.education-and-skills{
  margin-top: 6rem;
  background-color: $color-1;
  color: $color-5;
}

.projects {
  margin-top: 6rem;
}