$shadow-blur: 0 0 0.7rem 0 rgba(0, 0, 0, 0.501);
$shadow-blur-big: 0 0 1.2rem 0 rgba(0, 0, 0, 0.501);

$shadow-down-blur: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
$shadow-right-blur: 0.4rem 0 0.4rem 0 rgba(0, 0, 0, 0.25);
$shadow-left-blur: -0.4rem 0 0.4rem 0 rgba(0, 0, 0, 0.25);

$shadow-down-hard: 0 0.1rem 0.2rem 0 rgb(0, 0, 0, 0.5);
