@import "../assets/colors.scss";
:host {
  display: grid;
  width: 80vw;
  max-width: 170rem;
  margin: 0 auto;
  background-color: $color-5;
}

section {
  padding: 1rem;
}

.education {
  margin-top: 6rem;
  background-color: $color-1;
  color: $color-5;
}

