@import "../assets/colors.scss";
@import "../assets/breakpoints.scss";

:host {
  background-color: $color-5;
  display: grid;
  align-content: center;
}

section {
  padding: 1rem;
}

.skills {
  padding-top: 2rem;
}
.education-and-skills{
  margin-top: 6rem;
  background-color: $color-1;
  color: $color-5;
}

.projects {
  margin-top: 6rem;
}