<mid-heading class="interests__title" variant="blue-strike">
  Interests
</mid-heading>
<div class="interests__wrapper">
    <div class="interests__description">
        Here are some of my interests in no particular order:
    </div>
    <ul class="interests__interests">
        <li>Game Development and everything that's part of it</li>
        <li>3D Printing</li>
        <li>Piano</li>
        <li>Climbing</li>
        <li>Fish Keeping</li>
        <li>Bartending</li>
        <li>Swords</li>
        <li>Worldbuilding</li>
    </ul>
</div>

