<h1>Certificates</h1>
<h2>FH Technikum Wien</h2>
<ul>
  <li>
    <a target="_blank" href="assets/Zeugnis_BIF_4_SS2022.pdf"
      >Zeugnis_BIF_4_SS2022.pdf</a
    >
  </li>
  <li>
    <a target="_blank" href="assets/Zeugnis_BIF_3_WS2021.pdf"
      >Zeugnis_BIF_3_WS2021.pdf</a
    >
  </li>
  <li>
    <a target="_blank" href="assets/Zeugnis_BIF_2_SS2021.pdf"
      >Zeugnis_BIF_2_SS2021.pdf</a
    >
  </li>
  <li>
    <a target="_blank" href="assets/Zeugnis_BIF_1_WS2020.pdf"
      >Zeugnis_BIF_1_WS2020.pdf</a
    >
  </li>
</ul>
<h2>HTL tgm</h2>
<ul>
    <li>
        <a target="_blank" href="assets/maturazeugnis.pdf"
      >Maturazeugnis.pdf</a
    >
    </li>
    <li>
        <a target="_blank" href="assets/semesterzeugnis_ss2020.pdf"
      >Semesterzeugnis_tgm_SS2020.pdf</a
    >
    </li>
</ul>