@import "../../assets/colors.scss";
@import "../../assets/breakpoints.scss";

:host {
  display: block;
}

h2 {
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: .3rem;
  margin-left: 4rem;
  @include media("<=tablet") {
    margin-left: 0;
    text-align: center;
  }
}

.education {
  &__grid {
    h3,
    p {
      margin: 0;
    }
    display: grid;
    row-gap: 2rem;
    align-items: center;
    grid-template-columns: 14rem 1rem 0.3rem 1rem minmax(1rem, 70rem);
    @include media("<=phone") {
      row-gap: 0;
      grid-template-columns: 1rem 0.3rem 1rem auto;
    }
    justify-content: center;
  }
  &__text {
    grid-column: 5;
    margin-left: 3rem;
    @include media("<=phone") {
      grid-column: 4;
      margin-bottom: 4rem;
      margin-left: 2rem;
    }
    max-width: 70rem;
  }
  &__timestamp {
    font-size:  1.8rem;
    text-align: center;
    @include media("<=phone") {
      text-align: left;
      margin-left: 2rem;
      grid-column: 4;
    }
  }
  &__timestamp-marker {
    border: 0.3rem $color-5 solid;
    border-radius: 50%;
    background-color: $color-1;
    width: 2.3rem;
    height: 2.3rem;
    grid-column: 2 span 3;
    @include media("<=phone") {
      grid-column: 1 span 3;
      align-self: start;
    }
  }
  &__timestamp-line {
    height: 100%;
    background-color: $color-5;
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    @include media("<=phone") {
      grid-column: 2;
      grid-row-end: 7;
    }
  }
}

.certificates {
  margin-left: 4rem;
  @include media("<=tablet") {
    margin-left: 0;
    text-align: center;
  }
  a {
    &:link,
    &:visited {
      color: $color-5;
    }
  }
}