<h2>Education</h2>
<p class="certificates">
  <i>
    You can find my certificates <a routerLink="certificates">here</a>.
  </i>
</p>
<div class="education__grid">
  <div class="education__timestamp-line"></div>
  <div class="education__timestamp">2020 - now</div>
  <div class="education__timestamp-marker"></div>
  <div class="education__text">
    <h3>FH Technikum Wien</h3>
    <p>Bachelor Computer Science (5th Semester)</p>
  </div>
  <div class="education__timestamp">2015 - 2020</div>
  <div class="education__timestamp-marker"></div>
  <div class="education__text">
    <h3>HTL tgm</h3>
    <p>
      Matura (1.0 GPA) <br />
      Electronics and technical informatics
    </p>
  </div>
  <div class="education__timestamp">2011 - 2015</div>
  <div class="education__timestamp-marker"></div>
  <div class="education__text">
    <h3>AHS grg2 Zirkusgasse</h3>
  </div>
</div>
<h2>Experience</h2>
<div class="education__grid">
  <div class="education__timestamp">
    Aug 2019 <br />
    Jul 2018
  </div>
  <div class="education__timestamp-marker"></div>
  <div class="education__text">
    <h3>Internship at ELRA</h3>
    <p>
      ELRA is an Austrian leading supplier of motors and drive solutions. There,
      I had the opportunity of working in a development- and production
      environment.
    </p>
  </div>
</div>
